/* my css file for dynamop */
html {overflow-y:scroll;}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
    font-family:verdana,helvetica,arial,sans-serif;
}

.pcolor {color:#ffffff !important; background-color:#333333 !important}
.scolor {color:#ffffff !important; background-color:#999999 !important}
/* .pdelcolor {color:#ffffff !important; background-color:#cd1414 !important} */
.pdelcolor {color:#ffffff !important; background-color:#d61825 !important}

body {
  font-size:12px;
  color:#404040;
  background-color:#ffffff;
  /* margin:0px; */
}

h1 {font-size:16px;}
h2 {font-size:14px;}
h3 {font-size:12px;}
h4 {font-size:12px;}

td.middle {
  vertical-align: middle;
}

.middle {
  vertical-align: middle;
}

.strong{
  font-weight: bold;
}

.pseudohead{font-size:14px; font-weight: bold;}

.cpr {
  font-size: 9px;
  color: #999999;
  text-align: right;
  white-space: nowrap;
  clear: both;
}

.mobile {
  font-size: 8px;
}

.result{
  color : #000034;
  font-weight: bold;
  font-size:14px;
}

.result_finish_true{
  color : #000034;
  font-weight: bold;
  font-size:14px;
}

.result_finish_time{
  color : #000034;
  font-weight: bold;
  font-size:12px;
}

.result_finish_false{
  color : #d61825;
  font-weight: bold;
  font-size:14px;
}

select.selectbg {
  background-color:#f1f2f3
}

.mainwidth { max-width:800px; margin:auto}

.tab-red,.hover-tab-red:hover{border-color:#333333!important}
.my-half{ width:50% }

.shotzone {
  font-weight: bold;
  font-size:30px;
  color: #ffffff;
  vertical-align: middle;
}

.shotzone_mobile {
  font-weight: bold;
  font-size:15px;
  color: #ffffff;
  vertical-align: middle;
}

.line1 {background-color: #030357;}
.line2 {background-color: #7cb5ec;}
.line3 {background-color: #68717a;}
.line4 {background-color: #b0b3b5;}
.line5 {background-color: #e6e6fe;}
.nodata {background-color: #f1f2f3;}

.mytooltip {position:absolute; left:0; bottom:18px; z-index:1;}
.nopadding {padding:0px!important;}
.my-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.my-padding-8{padding-top:8px!important;padding-bottom:8px!important}


.matchheader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.hidden {
  display: none;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-middle {
  margin: auto;
  padding: 10px;
}

.jsheatmap {
  /* background-image: url('https://hockeygraphs.dynamop.de/static/img/shotmap.svg'); */
  background-image: url('https://hockeygraphs.dynamop.de/static/img/hockeyrink.png');
  height: 385px;
  width: 770px;
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%; /* Resize the background image to cover the entire container */
  box-sizing: content-box;
}

.jsheatmap_mobile {
  /* background-image: url('https://hockeygraphs.dynamop.de/static/img/shotmap.svg'); */
  background-image: url('https://hockeygraphs.dynamop.de/static/img/hockeyrink.png');
  height: 170px;
  width: 340px;
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%; /* Resize the background image to cover the entire container */
}

.jsheadmap_headline {
  font-weight: bold;
  font-size:18px;
  color: #404040;
  vertical-align: middle;
  text-decoration: underline;
}

.jsheadmap_headline_mobile {
  font-weight: bold;
  font-size:14px;
  color: #404040;
  vertical-align: middle;
  text-decoration: underline;
}

.jsheadmap_subheadline {
  font-size:14px;
  color: #404040;
  vertical-align: middle;
}

.jsheadmap_subheadline_mobile {
  font-size:12px;
  color: #404040;
  vertical-align: middle;
}

.jsheatmap_homelogo {
  margin-left: 30px;
}

.jsheatmap_homelogo_mobile {
  margin-left: 10px;
}

.jsheatmap_lefttext {
  margin-left: 100px;
}

.jsheatmap_lefttext_mobile {
  margin-left: 40px;
}

.jsheatmap_rightext {
  margin-right: 100px;
}

.jsheatmap_rightext_mobile {
  margin-right: 40px;
}


.jsheatmap_visitorlogo {
  margin-right: 30px;
}

.jsheatmap_visitorlogo_mobile {
  margin-right: 10px;
}

.helpselector {
  /* right: 0; */
  min-width: 60px;
}

.prematch_container {
  position: relative;
  margin: 0 auto;
}

.prematch_container img {vertical-align: middle;}

.prematch_container .content {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
}

.uc {
    text-transform:uppercase;
}
