/* my css file for dynamop */


html {overflow-y:scroll;}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
    font-family:verdana,helvetica,arial,sans-serif;
}

.pcolor {color:#ffffff !important; background-color:#333333 !important}
.scolor {color:#ffffff !important; background-color:#999999 !important}
/* .pdelcolor {color:#ffffff !important; background-color:#cd1414 !important} */
.pdelcolor {color:#ffffff !important; background-color:#d61825 !important}

body {
  font-size:12px;
  color:#404040;
  background-color:#ffffff;
  /* margin:0px; */
}

h1 {font-size:16px;}
h2 {font-size:14px;}
h3 {font-size:12px;}
h4 {font-size:12px;}

td.middle {
  vertical-align: middle;
}

.middle {
  vertical-align: middle;
}

.pseudohead{font-size:14px; font-weight: bold;}

.result{
  color : #000034;
  font-weight: bold;
  font-size:14px;
}

select.selectbg {
  background-color:#f1f2f3
}

.mainwidth { max-width:800px; margin:auto}

.tab-red,.hover-tab-red:hover{border-color:#333333!important}
.my-half{ width:50% }

.shotzone {
  font-weight: bold;
  font-size:30px;
  color: #ffffff;
  vertical-align: middle;
}

.shotzone_mobile {
  font-weight: bold;
  font-size:15px;
  color: #ffffff;
  vertical-align: middle;
}

.line1 {background-color: #030357;}
.line2 {background-color: #7cb5ec;}
.line3 {background-color: #68717a;}
.line4 {background-color: #b0b3b5;}
.line5 {background-color: #e6e6fe;}
.nodata {background-color: #f1f2f3;}


.mytooltip {position:absolute; left:0; bottom:18px; z-index:1;}

.nopadding {padding:0px!important;}
.my-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.my-padding-8{padding-top:8px!important;padding-bottom:8px!important}

.jsheatmap {
  /* background-image: url('https://hockeygraphs.dynamop.de/static/img/shotmap.svg'); */
  background-image: url('https://hockeygraphs.dynamop.de/static/img/hockeyrink.png');
  height: 498px;
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%; /* Resize the background image to cover the entire container */
}
